attachment/*
application/config/database.php
application/config/config.php
application/backup/*
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
vendor/*
index.php